<!DOCTYPE html>
<html>
  <head>
    <meta charset= "utf-8" />
    <title>DXOpal</title>
  </head>

  <body>
    <canvas id="canvas"></canvas>
    <%= javascript_include_tag @server.main %>
  </body>
</html>
